# Arquivos do Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
!terraform.tfvars.example

# Arquivos de credenciais
*.pem
*.key
secrets/
.env

# Arquivos de log
*.log

# Arquivos do sistema
.DS_Store
Thumbs.db

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Gráficos gerados
graph.png
graph.svg

